body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: rgb(168, 166, 166);
  display: flex;
  justify-content: center;
  margin: 0;
}

#greyBorder {
  background-color: rgb(199, 198, 198);
  margin: 20px;
}

main {
  margin: 40px;
  background-color: white;
  width: 100vw;
  max-width: 1800px;
}

@media (min-width: 1600px) {
  main {
    width: 90vw;
  }
}

#upper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#upperLine {
  height: 58px;
  display: flex;
  grid-row: 1/2;
  grid-column: 1/3;
  justify-content: space-between;
}

#logo {
  height: 100%;
  width: 182px;
  background-color: #551582;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 21px;
  margin-left: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upperButtons {
  display: flex;
  align-items: center;
  margin-right: 7vw;
  margin-left: 2vw;
}

#myAxiory {
  background-color: white;
  color: black;
  border: 1px solid rgb(43, 139, 131);
  text-transform: none;
  height: 27px;
  padding: 8px 12px;
  font-size: 9px;
  margin-bottom: 0;
}

#myAxiory:hover {
  background-color: rgb(241, 240, 240);
}

#openAccount {
  padding: 8px 12px;
  font-size: 9px;
  margin-left: 20px;
  margin-bottom: 0;
}

#upperMenu {
  font-size: 10px;
  color: #551582;
  margin-bottom: 10vh;
  grid-row: 2/3;
  grid-column: 1/3;
  margin-left: 7vw;
  }

  
#upperMenu span:hover {
  color: grey;
 }


#upperText {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0 7vw;
}

#upperImage {
  grid-column: 1/3;
  grid-row: 2/3;
}

#upperImage img {
  width: 100%;
  height: 100%;
}

h1 {
  color: #551582;
  font-weight: 800;
  font-size: 43px;
  margin-top: 0;
  margin-bottom: 20px;
}

#upperText h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 12px;
  color: #551582;
  margin-top: 90px;
}

@media (max-width: 900px) {
  #upperText {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  #upperText h2 {
    margin-top: 0;
  }

  #upperImage {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  #upperMenu {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

#grad1 {
  grid-column: 1/3;
  grid-row: 2/3;
  height: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0));
  }

h3 {
  margin-top: 0;
  font-size: 21px;
  font-weight: 800;
  color: rgb(43, 139, 131);
  margin-bottom: 35px;
}

.buttonContainer {
  margin-top: 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.buttonContainer p {
  margin-top: 0;
  text-align: center;
  color: grey;
}

button {
  color: white;
  background-color: rgb(43, 139, 131);
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px;
  font-size: 15px;
  border: none;
  margin-bottom: 25px;
}

button:hover,
button:active {
  background-color: rgb(31, 102, 96);
}

#middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgb(241, 240, 240);
  padding: 20px 26px 20px 20px;
  margin-right: 7vw;
  margin-top: 55px;
  
}

#middleText {
  grid-column: 1/3;
  line-height: 2;
  margin: 0 6vw 0 11vw;
  padding-top: 55px;
  padding-left: 0;
}

@media (max-width: 900px) {
    form {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 11vw;
    margin-top: 0;
   min-width: 270px;
  }
}

#middleText h2 {
  font-weight: 800;
  line-height: normal;
  color: black;
}

form p {
  color: grey;
  margin: 20px 5% 0 5%;
  font-size: 12px;
}

#middleText p {
  color: grey;
}

form input {
  margin: 10px 5% 0 5%;
  font-size: 15px;
  border: 1px solid lightgrey;
  padding: 18px;
  width: 80%;
}

form input:hover,
form input:active {
  border-color: grey;
}

select {
  margin: 20px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

#phoneContainer {
  margin: 20px 5% 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr;
}

#containerTriangle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerTriangle:hover {
  background-color: rgb(185, 185, 185);
}

.triangle-down {
  grid-column: 1/2;
  width: 0;
  height: 0;
  margin: auto;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #555;
}

.triangle-down:hover {
  border-top-color: #555;
}

#plus {
  grid-column: 2/3;
  color: rgb(129, 129, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#phoneCode {
  grid-column: 2/3;
  color: rgb(129, 129, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding-right: 5px;
}

#phoneContainer {
  background-color: lightgrey;
}

#phoneContainer input {
  grid-column: 3/4;
  grid-row: 1/2;
  margin: 0;
  padding: 20px;
  padding-right: 0;
  width: 90%;
}

form button {
  margin: 5%;
  margin-bottom: 0;
  width: 90%;
  background-color: #551582;
  font-weight: bold;
}

form button:hover,
form button:active {
  background-color: #390f57;
}

#date {
  background-color: rgb(241, 240, 240);
  display: flex;
  width: 35%;
  min-width: 200px;
  line-height: normal;
  padding: 10px;
  margin-bottom: 30px;
}

#calendar {
  margin: 10px;
}

#info {
  margin: 0;
  padding: 0;
  position: absolute;
}

#info img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
}

h4 {
  color: rgb(43, 139, 131);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul i {
  font-size: 20px;
  color: rgb(43, 139, 131);
  margin-right: 10px;
}

#lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#instructor {
  width: 60%;
  background-color: rgb(246, 246, 246);
  margin: 40px;
  padding: 60px 40px 40px 40px;
  display: flex;
}

#instructorPhoto {
  min-width: 45%;
  margin-right: 30px;
}

#instructorPhoto img {
  width: 100%;
}

#instructor h2 {
  text-transform: uppercase;
  color: black;
  text-align: left;
  margin: 10px 50px 30px 0;
  font-weight: bold;
}

@media (max-width: 900px) {
  #instructor {
    display: block;
  }

  #instructorPhoto {
    width: 20%;
    margin-bottom: 20px;
  }
}

#instructor h4 {
  text-transform: none;
  font-size: 20px;
}

#instructor p {
  color: grey;
}

#lower h3 {
  font-size: 26px;
  margin: 5px;
  padding: 0;
}

#lower .buttonContainer {
  width: 20%;
  min-width: 200px;
  margin: 20px;
  margin-bottom: 80px;
}

#icons {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

#icons img {
  margin: 10px;
  width: 60px;
}
